<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css" />
    <link rel="stylesheet" href="style.css" />
    <style>
      input:focus {
        border-color: #2563eb;
      }
      button:hover {
        background: green;
      }
      div:focus-within {
        border-color: #2563eb;
      }
    </style>
  </head>
  <body>
    <!-- component -->
    <!-- page -->
    <main class="mx-auto flex min-h-screen w-full items-center justify-center bg-gray-900 text-white">
      <!-- component -->
    <form action="signin" method="post">
      {% csrf_token %}
      <section class="flex w-[30rem] flex-col space-y-10">
        <div class="text-center text-4xl font-medium">Log In</div>

        <div class="w-full transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-indigo-500">
          <input type="text" name="username" placeholder="Email or Username" class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none" required/>
        </div>

        <div class="w-full transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-indigo-500">
          <input type="password" name="password" placeholder="Password" class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none focus:border-blue-500" required/>
        </div>
        {% if messages %}
        <ul class="messages" style="color: red">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

        <button type="submit" class="transform rounded-tl-2xl rounded-br-2xl bg-indigo-600 py-2 font-bold duration-300 hover:bg-indigo-500">LOG IN</button>

        <a href="#" class="transform text-center font-semibold text-gray-500 duration-300 hover:text-gray-300">FORGOT PASSWORD?</a>

        <p class="text-center text-lg">
          Don't have an account?
          <a href="./signup" class="font-medium text-indigo-500 underline-offset-4 hover:underline">Sign Up</a>
        </p>
      </section>
     
    </form>
    </main>

    <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/script-name.js"></script>
  </body>
</html>
